<p>
  login works!
</p>
<form>
  <input type="text">
  <input type="password">

  <button mat-raised-button color="primary">Login</button> 
  <button mat-raised-button color="accent">Login with Facebook</button>
  <button mat-raised-button color="primary">Login with Google</button>
  <button mat-raised-button color="accent">Login with Twitter</button>
</form>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Favorite food" value="Sushi">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field>
</form>